<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" id="WebApp_ID" version="5.0">
  <display-name>mhm</display-name>
  <welcome-file-list>
    <welcome-file>index.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>NovaEmpresa</display-name>
    <servlet-name>NovaEmpresa</servlet-name>
    <servlet-class>servlet.NovaEmpresa</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NovaEmpresa</servlet-name>
    <url-pattern>/NovaEmpresa</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MostrarEmpresaServlet</display-name>
    <servlet-name>MostrarEmpresaServlet</servlet-name>
    <servlet-class>servlet.MostrarEmpresaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MostrarEmpresaServlet</servlet-name>
    <url-pattern>/MostrarEmpresaServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AlteraEmpresaServlet</display-name>
    <servlet-name>AlteraEmpresaServlet</servlet-name>
    <servlet-class>servlet.AlteraEmpresaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AlteraEmpresaServlet</servlet-name>
    <url-pattern>/AlteraEmpresaServlet</url-pattern>
  </servlet-mapping>
</web-app>